 @import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
.container{
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}
#navbar {
    width: 100%;
    height: 70px;  
} 
#navbar h1 {
     padding: 10px;
    
}
#navbar ul {
    list-style-type:none;
    float:right;

}
#navbar ul li {
    display: inline;
    border-left: 1px solid #c0c0c0;
    padding: 0px 10px 0px 10px;
    font-size: 15px;
    margin: 5px 0px 5px 0px;
}

#header {
    width: 100%;
    height: 600px;  
    background-image: url(../pic1.jpg);
    background-size: cover;
}
#header h2{
    padding-top: 200px;
    text-align: center;
    font-size: 60px;
    font-family: 'Nanum Pen Script';
}
#header p{
    text-align: center;
    font-size: 18px;
    font-family: 'Nanum Pen Script';
}

#section {
    width: 100%;
    padding: 10px;
    text-align:center;
} 
#container:after {
    content:""; 
    display:block; 
    clear:both;
}

#left{
    float: left;
    width: 33%;
}
#left img{
    height: 310px;
    width: 310px;
}
#left p{
    text-align: center;
    font-size: 15px;
}

#right {
    float: right;
    width: 33%;
}
#right img{
    height: 310px;
    width: 310px;
}

#right p{
    text-align: center;
    font-size: 15px;
}
#center{
    margin: 0 auto;
    width: 33%;
}
#center img{
    height: 310px;
    width: 310px;
}
#center p{
    text-align: center;
    font-size: 15px;
}

#footer {
    background-color:  black;
    width: 100%;
    padding: 10px;
} 
#footer p{
    color: white;
    font-size: 15px;
    text-align: center;
}
